@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Exercise Page</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Starter Page</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- /.col-md-12 -->
                <div class="col-lg-12">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Exercise 1</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Toggle Background Color pada Klik Elemen</h6>

                            <p class="card-text">Kode JavaScript mengimplementasikan sebuah fungsi yang mengubah warna latar belakang elemen ketika elemen tersebut diklik. Setiap kali elemen diklik, warna latar belakangnya akan berubah menjadi merah. Namun, jika elemen tersebut diklik lagi, warna latar belakang akan kembali ke keadaan semula. Untuk mencapai ini, kode menggunakan variabel isClicked untuk melacak status klik pada elemen dan mengubah properti backgroundColor sesuai dengan status tersebut.</p>
                            <a href="#" id="a1" class="btn btn-primary">Click Here</a>
                        </div>
                    </div>

                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Exercise 2</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Toggle Style pada Klik Elemen A</h6>

                            <p class="card-text">Kode JavaScript mengimplementasikan sebuah fungsi yang mengubah gaya elemen p ketika elemen a diklik. Saat elemen a diklik, gaya elemen p akan berubah menjadi gaya yang ditentukan, seperti mengubah warna teks menjadi biru dan tebal. Namun, ketika elemen a diklik lagi, gaya elemen p akan kembali ke keadaan semula. Kode menggunakan variabel isClicked untuk melacak status klik pada elemen dan mengubah gaya elemen p sesuai dengan status tersebut.</p>
                            <a href="#" id="a2" class="btn btn-primary">Click Here</a>
                        </div>
                    </div>


                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="m-0">Exercise 3</h5>
                        </div>
                        <div class="card-body">
                            <h6 class="card-title">Toggle Visibility Elemen p pada Klik Elemen a</h6>

                            <p class="card-text">Kode JavaScript di atas mengimplementasikan sebuah fungsi yang mengatur perilaku toggle visibilitas pada elemen p saat elemen a dengan ID a3 diklik. Ketika elemen a tersebut diklik, elemen p akan disembunyikan jika sedang terlihat, dan akan ditampilkan kembali jika sedang disembunyikan. Kode menggunakan variabel isParagraphHidden untuk melacak status visibilitas elemen p dan mengubah properti display sesuai dengan status tersebut.</p>
                            <a href="#" id="a3" class="btn btn-primary">Click Here</a>
                        </div>
                    </div>
                </div>
                <!-- /.col-md-12 -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
