@model API.DTOs.Employees.GetEmployeeDto

@{
    ViewData["Title"] = "Create";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Data Employees</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Employee</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <a href="employee/create">
                            <button type="button" class="btn btn-block btn-primary" style="width: 100px">Create</button>
                        </a>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <form action="/employee/create" method="POST">
                            <div class="form-group">
                                <label asp-for="Nik" class="control-label"></label>
                                <input asp-for="Nik" class="form-control"/>
                                <span asp-validation-for="Nik" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="control-label"></label>
                                <input asp-for="FirstName" class="form-control"/>
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="LastName" class="control-label"></label>
                                <input asp-for="LastName" class="form-control"/>
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="BirthDate" class="control-label"></label>
                                <input asp-for="BirthDate" class="form-control" type="date"/>
                                <span asp-validation-for="BirthDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Gender" class="control-label"></label>
                                <select asp-for="Gender" class="form-control">
                                    <option value="">-</option>
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="HiringDate" class="control-label"></label>
                                <input asp-for="HiringDate" class="form-control" type="date"/>
                                <span asp-validation-for="HiringDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input asp-for="Email" class="form-control"/>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="control-label"></label>
                                <input asp-for="PhoneNumber" class="form-control"/>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary"/>
                                <a class="btn btn-info" asp-action="Index">Back to List</a>
                            </div>
                        </form>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->

    <div class="modal fade" id="modal-xl">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nik">NIK*</label>
                            <input type="number" class="form-control" id="nik" placeholder="Enter NIK">
                        </div>
                        <div class="form-group">
                            <label for="firstName">First Name*</label>
                            <input type="text" class="form-control" id="firstName" placeholder="Enter NIK">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name*</label>
                            <input type="text" class="form-control" id="lastName" placeholder="Enter NIK">
                        </div>
                        <div class="form-group">
                            <label for="birthDate" class="form-label">Birth Date*</label>
                            <input type="date" class="form-control" id="birthDate">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Gender*</label>
                            <div class="form-check">
                                <select class="form-select" id="gender">
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hiringDate" class="form-label">Hiring Date*</label>
                            <input type="date" class="form-control" id="hiringDate">
                        </div>
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number*</label>
                            <input type="number" class="form-control" id="phoneNumber" placeholder="Enter Phone Number">
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Update()">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="modal-xl-update">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Update Employee</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" class="form-control" id="nikU" value="">
                        <input type="hidden" class="form-control" id="guidU" value="">
                        <div class="form-group">
                            <label for="firstNameU">First Name*</label>
                            <input type="text" class="form-control" id="firstNameU" placeholder="Enter NIK">
                        </div>
                        <div class="form-group">
                            <label for="lastNameU">Last Name*</label>
                            <input type="text" class="form-control" id="lastNameU" placeholder="Enter NIK">
                        </div>
                        <div class="form-group">
                            <label for="birthDateU" class="form-label">Birth Date*</label>
                            <input type="date" class="form-control" id="birthDateU">
                        </div>
                        <div class="form-group">
                            <label class="form-label">Gender*</label>
                            <div class="form-check">
                                <select class="form-select" id="genderU">
                                    <option value="1">Male</option>
                                    <option value="0">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hiringDateU" class="form-label">Hiring Date*</label>
                            <input type="date" class="form-control" id="hiringDateU">
                        </div>
                        <div class="form-group">
                            <label for="emailU">Email*</label>
                            <input type="email" class="form-control" id="emailU" placeholder="Enter Email">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumberU">Phone Number*</label>
                            <input type="number" class="form-control" id="phoneNumberU" placeholder="Enter Phone Number">
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="Update()">Save changes</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
